.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 40px;
    position: relative;
}

.inner {
    column-count: 2;
    column-gap: 20px;
    padding: 0 20px;
    position: relative;
    z-index: 1;

    @include media('sm') {
        column-count: 3;
    }
}

.textContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
