.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    @include media('sm') {
        padding-bottom: 40px;
    }

    @include media('md') {
        padding: 60px 100px 40px;
    }
}

.inner {
    column-count: 1;
    column-gap: 20px;
    padding: 0 20px;
    position: relative;
    z-index: 1;
    min-height: 300px;

    @include media('sm') {
        column-count: 2;
    }

    @include media('md') {
        column-count: 3;
    }
}

.textContainer {
    width: 100%;
    display: flex;
    justify-content: center;

    @include media('md') {
        position: absolute;
    }
}

.text {
    @include media('md') {
        font-size: rem(140px);
        color: rgba(color('accent'), 0.5);
    }
}
