.link {
    border-radius: 5px;
    border: 2px solid color('white');
    padding: 15px 20px;
    background-color: transparent;
    will-change: transform;
    color: color('white');
    transform: all 0.4s ease;

    &:hover {
        transform: all 0.4s ease;
        border: 2px solid color('secondary');
        background-color: color('white');
        color: color('secondary');
    }
}
