{
    "parser": "@typescript-eslint/parser",
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2019,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": ["react", "react-hooks"],
    "extends": [
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "eslint-config-prettier"
    ],
    "rules": {
        "comma-dangle": [
            "error",
            {
                "arrays": "always-multiline",
                "objects": "always-multiline",
                "imports": "always-multiline",
                "exports": "always-multiline",
                "functions": "ignore"
            }
        ],
        "func-names": ["error", "never"],
        "import/extensions": "off",
        "import/no-unresolved": "off",
        "import/no-extraneous-dependencies": "off",
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "jsx-uses-vars": "off",
        "jsx-a11y/href-no-hash": "off",
        "key-spacing": ["error", { "mode": "minimum" }],
        "no-console": "off",
        "no-param-reassign": [
            2,
            {
                "props": false
            }
        ],
        "no-undef": "off",
        "no-multi-spaces": [
            "error",
            { "exceptions": { "VariableDeclarator": true } }
        ],
        "react/prop-types": 0,
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "react/react-in-jsx-scope": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/camelcase": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
