/*******************/
//   CORMORANT     //
/******************/

@font-face {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 300;
    src: local('Cormorant Light'), local('Cormorant-Light'),
        url('/fonts/Cormorant-Light.woff2') format('woff2'),
        url('/fonts/Cormorant-Light.woff') format('woff');
}

@font-face {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 300;
    src: local('Cormorant LightItalic'), local('Cormorant-LightItalic'),
        url('/fonts/Cormorant-LightItalic.woff2') format('woff2'),
        url('/fonts/Cormorant-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    src: local('Cormorant Regular'), local('Cormorant-Regular'),
        url('/fonts/Cormorant-Regular.woff2') format('woff2'),
        url('/fonts/Cormorant-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 400;
    src: local('Cormorant Italic'), local('Cormorant-Italic'),
        url('/fonts/Cormorant-Italic.woff2') format('woff2'),
        url('/fonts/Cormorant-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 500;
    src: local('Cormorant Medium'), local('Cormorant-Medium'),
        url('/fonts/Cormorant-Medium.woff2') format('woff2'),
        url('/fonts/Cormorant-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 500;
    src: local('Cormorant MediumItalic'), local('Cormorant-MediumItalic'),
        url('/fonts/Cormorant-MediumItalic.woff2') format('woff2'),
        url('/fonts/Cormorant-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 600;
    src: local('Cormorant SemiBold'), local('Cormorant-SemiBold'),
        url('/fonts/Cormorant-SemiBold.woff2') format('woff2'),
        url('/fonts/Cormorant-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 600;
    src: local('Cormorant SemiBoldItalic'), local('Cormorant-SemiBoldItalic'),
        url('/fonts/Cormorant-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/Cormorant-SemiBoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: bold;
    src: local('Cormorant Bold'), local('Cormorant-Bold'),
        url('/fonts/Cormorant-Bold.woff2') format('woff2'),
        url('/fonts/Cormorant-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: bold;
    src: local('Cormorant BoldItalic'), local('Cormorant-BoldItalic'),
        url('/fonts/Cormorant-BoldItalic.woff2') format('woff2'),
        url('/fonts/Cormorant-BoldItalic.woff') format('woff');
}

/*******************/
//   MULISH     //
/******************/

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    src: local('Mulish Light'), local('Mulish-Light'),
        url('/fonts/Mulish-Light.woff2') format('woff2'),
        url('/fonts/Mulish-Light.woff') format('woff');
}

@font-face {
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 300;
    src: local('Mulish LightItalic'), local('Mulish-LightItalic'),
        url('/fonts/Mulish-LightItalic.woff2') format('woff2'),
        url('/fonts/Mulish-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: local('Mulish Regular'), local('Mulish-Regular'),
        url('/fonts/Mulish-Regular.woff2') format('woff2'),
        url('/fonts/Mulish-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 400;
    src: local('Mulish Italic'), local('Mulish-Italic'),
        url('/fonts/Mulish-Italic.woff2') format('woff2'),
        url('/fonts/Mulish-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    src: local('Mulish Medium'), local('Mulish-Medium'),
        url('/fonts/Mulish-Medium.woff2') format('woff2'),
        url('/fonts/Mulish-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 500;
    src: local('Mulish MediumItalic'), local('Mulish-MediumItalic'),
        url('/fonts/Mulish-MediumItalic.woff2') format('woff2'),
        url('/fonts/Mulish-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    src: local('Mulish SemiBold'), local('Mulish-SemiBold'),
        url('/fonts/Mulish-SemiBold.woff2') format('woff2'),
        url('/fonts/Mulish-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 600;
    src: local('Mulish SemiBoldItalic'), local('Mulish-SemiBoldItalic'),
        url('/fonts/Mulish-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/Mulish-SemiBoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    src: local('Mulish Bold'), local('Mulish-Bold'),
        url('/fonts/Mulish-Bold.woff2') format('woff2'),
        url('/fonts/Mulish-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Mulish';
    font-style: italic;
    font-weight: bold;
    src: local('Mulish BoldItalic'), local('Mulish-BoldItalic'),
        url('/fonts/Mulish-BoldItalic.woff2') format('woff2'),
        url('/fonts/Mulish-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    src: local('Mulish ExtraBold'), local('Mulish-ExtraBold'),
        url('/fonts/Mulish-ExtraBold.woff2') format('woff2'),
        url('/fonts/Mulish-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 800;
    src: local('Mulish ExtraBoldItalic'), local('Mulish-ExtraBoldItalic'),
        url('/fonts/Mulish-ExtraBoldItalic.woff2') format('woff2'),
        url('/fonts/Mulish-ExtraBoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    src: local('Mulish Black'), local('Mulish-Black'),
        url('/fonts/Mulish-Black.woff2') format('woff2'),
        url('/fonts/Mulish-Black.woff') format('woff');
}

@font-face {
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 900;
    src: local('Mulish BlackItalic'), local('Mulish-BlackItalic'),
        url('/fonts/Mulish-BlackItalic.woff2') format('woff2'),
        url('/fonts/Mulish-BlackItalic.woff') format('woff');
}

/*******************/
//   CORMORANT     //
/******************/

@font-face {
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 400;
    src: local('PlayfairDisplay Regular'), local('PlayfairDisplay-Regular'),
        url('/fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('/fonts/PlayfairDisplay-Regular.woff') format('woff');
}

@font-face {
    font-family: 'PlayfairDisplay';
    font-style: italic;
    font-weight: 400;
    src: local('PlayfairDisplay Italic'), local('PlayfairDisplay-Italic'),
        url('/fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('/fonts/PlayfairDisplay-Italic.woff') format('woff');
}

@font-face {
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 500;
    src: local('PlayfairDisplay Medium'), local('PlayfairDisplay-Medium'),
        url('/fonts/PlayfairDisplay-Medium.woff2') format('woff2'),
        url('/fonts/PlayfairDisplay-Medium.woff') format('woff');
}

@font-face {
    font-family: 'PlayfairDisplay';
    font-style: italic;
    font-weight: 500;
    src: local('PlayfairDisplay MediumItalic'),
        local('PlayfairDisplay-MediumItalic'),
        url('/fonts/PlayfairDisplay-MediumItalic.woff2') format('woff2'),
        url('/fonts/PlayfairDisplay-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 600;
    src: local('PlayfairDisplay SemiBold'), local('PlayfairDisplay-SemiBold'),
        url('/fonts/PlayfairDisplay-SemiBold.woff2') format('woff2'),
        url('/fonts/PlayfairDisplay-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'PlayfairDisplay';
    font-style: italic;
    font-weight: 600;
    src: local('PlayfairDisplay SemiBoldItalic'),
        local('PlayfairDisplay-SemiBoldItalic'),
        url('/fonts/PlayfairDisplay-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/PlayfairDisplay-SemiBoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: bold;
    src: local('PlayfairDisplay Bold'), local('PlayfairDisplay-Bold'),
        url('/fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('/fonts/PlayfairDisplay-Bold.woff') format('woff');
}

@font-face {
    font-family: 'PlayfairDisplay';
    font-style: italic;
    font-weight: bold;
    src: local('PlayfairDisplay BoldItalic'),
        local('PlayfairDisplay-BoldItalic'),
        url('/fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('/fonts/PlayfairDisplay-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 800;
    src: local('PlayfairDisplay ExtraBold'), local('PlayfairDisplay-ExtraBold'),
        url('/fonts/PlayfairDisplay-ExtraBold.woff2') format('woff2'),
        url('/fonts/PlayfairDisplay-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'PlayfairDisplay';
    font-style: italic;
    font-weight: 800;
    src: local('PlayfairDisplay ExtraBoldItalic'),
        local('PlayfairDisplay-ExtraBoldItalic'),
        url('/fonts/PlayfairDisplay-ExtraBoldItalic.woff2') format('woff2'),
        url('/fonts/PlayfairDisplay-ExtraBoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 900;
    src: local('PlayfairDisplay Black'), local('PlayfairDisplay-Black'),
        url('/fonts/PlayfairDisplay-Black.woff2') format('woff2'),
        url('/fonts/PlayfairDisplay-Black.woff') format('woff');
}

@font-face {
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 900;
    src: local('PlayfairDisplay BlackItalic'),
        local('PlayfairDisplay-BlackItalic'),
        url('/fonts/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
        url('/fonts/PlayfairDisplay-BlackItalic.woff') format('woff');
}
