.container {
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 160px 40px 0;
}

.inner {
    margin: auto;
    max-width: $max-width;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    color: color('white');
    margin: auto;
}

.content {
    display: flex;
}

.list {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0;
}

.item {
    width: 50px;
    padding: 0 5px;
    margin: auto;
}

.reverse {
    flex-direction: row-reverse;
}

.imageContainer {
    width: 100%;
    max-width: 40%;
    position: relative;
    margin-top: -40px;
}

.contentContainer {
    width: 100%;
    max-width: 50%;
    padding: 30px;
}
