.container {
    position: relative;
    width: 80px;
    height: 80px;
}

.svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.outer {
    width: 100%;
}

.middle {
    width: 85%;
    animation-direction: reverse;
}

.inner {
    width: 70%;
}

.initials {
    width: 40%;
    transform: translate(-50%, -50%);
}

.animation {
    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(359deg);
    }
}
