.container {
    width: 100%;
    display: flex;
    height: calc(100vh - 100px);
}

.inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.link {
    margin: 0 5px;
    border-bottom: 2px solid color('white');
}

.fourofour {
    font-size: 160px;
    line-height: (180 / 160);
    font-weight: bold;
    font-family: $secondary-font-family;

    @include media('sm') {
        font-size: rem(260px);
        line-height: (280 / 260);
    }
}
