/* ------------------------------------ *\
    #TYPOGRAPY
\* ------------------------------------ */
@use "sass:math";

body {
    position: relative;
    color: color('white');
    font-family: $base-font-family;
    font-size: rem(17px);
    line-height: math.div(29px, 17px);
    font-weight: 700;
    padding: 0;
    margin: 0;
}

//
// Headings
//
// In most cases you should avoid styling a specific heading type to have
// custom distinct styles that would apply to all headings of that type.
// Instead create a new component like c-heading or c-title. This may not
// be the case when a CMS needs default headings to appear a specific way.
//
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 spacer(1);
    font-size: 1.2rem;
    line-height: $base-line-height;
    font-family: $secondary-font-family;
    font-weight: 600;
}

h4,
h5,
h6 {
    font-weight: 500;
}

h1 {
    font-size: rem(32px);
    line-height: math.div(34, 32);

    @include media('sm') {
        font-size: rem(56px);
        line-height: math.div(67, 56);
    }
}

h2 {
    font-size: rem(28px);
    line-height: math.div(37, 28);

    @include media('sm') {
        font-size: rem(42px);
        line-height: math.div(51, 42);
    }
}

h3 {
    font-size: rem(26px);
    line-height: math.div(34, 26);

    @include media('sm') {
        font-size: rem(34px);
        line-height: math.div(44, 34);
    }
}

h4 {
    font-size: rem(24px);
    line-height: math.div(32, 24);

    @include media('sm') {
        font-size: rem(30px);
        line-height: math.div(38, 30);
    }
}

h5 {
    font-size: rem(22px);
    line-height: math.div(22, 28);

    @include media('sm') {
        font-size: rem(24px);
        line-height: math.div(32, 24);
    }
}

h6 {
    font-size: rem(20px);
    line-height: math.div(26, 20);

    @include media('sm') {
        font-size: rem(22px);
        line-height: math.div(28, 22);
    }
}

/**
 * Paragraphs
 */
p {
    margin: 0 0 spacer(1);
}

img {
    width: 100%;
    height: auto;
}

/**
 * Lists
 */
ul,
ol,
dl {
    margin: 0 0 spacer(1);
}

/**
 * Link Styles
 */
a {
    text-decoration: none;
    transition: timer('fast');
}

/**
 * Horizontal Rule
 */
hr {
    margin: 0 0 spacer(1);
    border: solid color('grey');
    border-width: 0 0 1px;
}

code {
    display: inline-block;
    padding: 0 3px;
    background: #eee;
    font-family: inherit;
}
