// /************************/
// // Neuzit Black //
// /***********************/

@font-face {
    font-family: 'Neuzit Black';
    src: url('/fonts/neuzit-black.woff2') format('woff2'),
        url('/fonts/neuzit-black.woff') format('woff');
    font-style: normal;
    font-weight: 900;
}

// /************************/
// // Proxima Nova //
// /***********************/

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('/fonts/ProximaNova-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}
