// /************************/
// // Hiragino Kaku Gothic //
// /***********************/

@font-face {
    font-family: 'Hiragino Kaku Gothic ProN';
    font-style: normal;
    font-weight: 300;
    src: local('hiragino-kaku-gothic-pron-w3'),
        local('hiragino-kaku-gothic-pron-w3'),
        url('/public/fonts/hiragino-kaku-gothic-pron-w3.woff2') format('woff2'),
        url('/public/fonts/hiragino-kaku-gothic-pron-w3.woff') format('woff');
}
